.*.swp
.bundle
.DS_Store
Capfile
config/database.yml
config/deploy.rb
config/initializers/secret_token.rb
db/schema.rb
Gemfile.lock
log/*.log
public/javascripts/cached_*.js
public/sitemap.xml
public/stylesheets/cached_*.css
public/system
script/restart
script/sync_from_production
tmp/*
