- javascript 'entries_list'

- incomings, expenses = [@entries.select{ |i| i.amount > 0 }, @entries.select{ |i| i.amount < 0 }].map{ |i| i.map(&:amount).sum.abs }
- if @last_milestone
  - incomings += @last_milestone.amount
%table.grid
  %tr
    %th.amount
      = "%0.2f - %0.2f = %0.2f" % [incomings, expenses, incomings - expenses]

%table.grid#entries
  %thead
    %tr
      %th.id #
      %th created at
      %th amount
      %th.comment comment
      %th.tags tags
  %tbody
    = render @entries
  %tfoot
    %tr

- unless @entries.empty?
  %script{:type => 'text/javascript'}
    App.entries_tablesorter = true;
