- javascript 'entries_list'

= render 'entries/summary'

%table.grid#entries
  %thead
    %tr
      %th.id #
      %th created at
      %th amount
      %th.comment comment
      %th.tags tags
  %tbody
    = render @entries
  %tfoot
    %tr

- unless @entries.empty?
  %script{:type => 'text/javascript'}
    App.entries_tablesorter = true;
