html, body, h1, h2, h3, div, p, a, img, form, fieldset, ol, ul, li, table, tr, th, td { border: 0; padding: 0; margin: 0; }
input, select { margin: 0; }

body { background-color: #fff; font: 10pt/15pt "Lucida Grande", "Segoe UI", sans-serif; }
a { color: #00c; text-decoration: none; }
th a { text-decoration: none; }
h1 { text-align: center; margin: 20px; }
h2 { margin: 0.5em; }
h2 a { margin: 0.5em; }
h3 { margin-top: 3em; margin-bottom: 0.5em; }
ul { margin-left: 2em; }

.clear { clear: both; height: 0; overflow: hidden; }
.fieldWithErrors { display: inline; }
.fieldWithErrors * {
  border: 2px inset #f00;
}

#container, #sidebar {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#sidebar { width: 25%; }

#flash_notice, #flash_alert {
  text-align: center;
  padding: 5px 0;
}

#flash_notice {
  background-color: #cfc;
  border: #6c6 solid;
  border-width: 1px 0;
}

#flash_alert {
  background-color: #fcc;
  border: #f66 solid;
  border-width: 1px 0;
}

#errorExplanation {
  width: 50%;
  margin: 10px auto;
  border: 1px solid #c00;
  padding: 0px;
  padding-bottom: 12px;
  background-color: #f0f0f0;
  font-size: 0.8em;
}

#errorExplanation h2 {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  margin: 0;
  background-color: #c00;
  color: #fff;
  font-size: 1em;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul { margin: 2px 24px; list-style: disc; }

.edit_entry { margin: 2px; }
.new_entry input, .edit_entry input { font-size: 1.2em; padding: 2px; }
#entry_comment { width: 40%; }
#entry_tag_names { width: 20%; }
#entry_submit { visibility: hidden; }

.grid {
  border-collapse: collapse;
  margin: 1px 0;
}

.grid td, .grid th {
  padding: 4px 10px;
  vertical-align: top;
}

.grid thead th, .grid tfoot th {
  font-size: 1.2em;
  padding: 4px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.grid .date { width: 10em; text-align: center; }
.grid .amount { width: 6em; text-align: right; }
.grid thead tr .header { background: #eee url(/images/bg.gif) no-repeat center right; cursor: pointer; }
.grid thead tr .sort_asc { background: #eee url(/images/asc.gif) no-repeat center right; }
.grid thead tr .sort_desc { background: #eee url(/images/desc.gif) no-repeat center right; }

#entries { width: 100%; }
#entries tr:hover { background: #ddd; }
#entries .expense, #entries .expense a { color: #800; }
#entries .income, #entries .income a { color: #080; }
#entries a.tag, #tags a.tag, #cloud span.tag {
  white-space: nowrap;
  color: #000;
  padding: 0 4px 1px;
  margin: 2px;
  border-radius: 4px;
  background: #ffc;
  border: 1px solid #cc8;
}
#tags .income a.tag, #entries .income a.tag { background: #cfc; border: 1px solid #8c8; }
#entries .entry { margin-right: 8px; }
#entries thead .comment { text-align: left; padding-left: 0.5em; }

#tags ul { list-style-type: none; }
#tags li { text-align: left; padding: 2px; }
#tags span { float: left; width: 6em; text-align: right; }

#calendar { margin: 20px auto; width: 75em; }
#calendar #month { text-align: center; }
#calendar table { border-collapse: collapse; width: 100%; }
#calendar thead th {
  border: 1px solid #888;
  padding: 4px;
  background: #444;
  color: #fff;
  width: 14.2857142857143%;
}
#calendar td { border: 1px solid #888; height: 5em; }
#calendar .weekend { background: #ccc; }
#calendar .today { background: #aaf; }
#calendar .day {
  float: left;
  margin: -1.8em 0 0 -1px;
  padding: 2px;
  border: 1px solid #888;
  background: #ccc;
}
#calendar .sum { text-align: center; font-size: 1.5em; }
#calendar .sum a { color: #00c; text-decoration: none; }
#calendar .sum.income a { color: #0c0; }
#calendar .sum.expense a { color: #c00; }
#calendar .notmonth, #calendar .notmonth a { color: #aaa; }
#calendar #summary { font-size: 1.5em; }

#summary { text-align: center; font-size: 2em; font-weight: bold; line-height: 1.5em; }

#header, #header_contextual {
  text-align: right;
  text-shadow: #ccc 0 0px 1px;
  padding: 5px;
}
#header_contextual { margin: -1px 0 0; }
#header_contextual form { text-align: center; }
#header a, #header_contextual a {
  color: #00c;
  padding: 2px 5px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#header a:hover, #header_contextual a:hover { border: 1px solid #bbb; background: #ddd; }
#header a:active, #header_contextual a:active { border: 1px solid #aaa; background: #eee; }
#header #logout_link { color: #800; text-shadow: #caa 0 1px 1px; }
#context { float: left; }
#context form { float: left; }
#milestone_form { margin-left: 2em; }

#login_form {
  width: 600px;
  margin: auto;
}
#login_form ol { list-style: none; margin-top: 0.5em; }
#login_form li { margin-bottom: 0.8em; }
#login_form label {
  float: left;
  width: 20%;
  text-align: right;
  margin-top: 8px;
  margin-right: 0.5em;
}
#login_form input { font-size: 1.2em; padding: 5px; }
#login_form .inputs input { width: 70%; }
#login_form .buttons { text-align: center; }

#filter select { margin: 3px; }
#tags_filter_form input { padding: 3px; font-size: 1em; }

#cloud { padding: 20px; line-height: 2.5em; }
#cloud a { color: #000; }
#cloud span.amount { font-size: 75%; }
#cloud_switcher { text-align: center; }
#cloud_switcher span { cursor: pointer; margin: 0.5em; padding: 2px 6px; }
#cloud_switcher .selected { background: #ebebaf; }

.cl-0 { font-size: 1em; }
.cl-1 { font-size: 1.25em; }
.cl-2 { font-size: 1.5em; }
.cl-3 { font-size: 1.75em; }
.cl-4 { font-size: 2em; }
.cl-5 { font-size: 2.25em; }
.cl-6 { font-size: 2.5em; }
.cl-7 { font-size: 2.75em; }
.cl-8 { font-size: 3em; }
.cl-9 { font-size: 3em; font-weight: bold; }
