#tags
  %ul.income
    - @tags[:incomings].sort{ |a, b| b[1] <=> a[1] }.each do |t, amount|
      %li
        %span.amount= "%0.2f" % amount.to_f
        = link_to t.name, t, :class => 'tag'
  %ul.expense
    - @tags[:expenses].sort{ |a, b| a[1] <=> b[1] }.each do |t, amount|
      %li
        %span.amount= "%0.2f" % amount.to_f
        = link_to t.name, t, :class => 'tag'